body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('../img/4_img.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
    /*height: 100%;*/
}

#logo {
    max-height: 30px;
}

footer{
    color: #fff;
}

footer a{
    color: #fff;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer a:hover{
    color: #fff;
    font-weight: bold;
}

footer .textwidget{
    min-width: 260px;
}