/*
Theme Name: Ink Sketch 
Theme URI: http://stuff.vot.pl
Author: Wojciech Mruk
Author URI: http://stuff.vot.pl
Description: Clean based on the Bootstrap theme. It is opdowiedni for everyone who wants a combination of professional and aesthetic appearance. Compatible with RWD.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ink-sketch
*/

.navbar-nav a{
    color: #fff !important;
    /*padding-right: .5rem;*/
    /*padding-left: .5rem;*/
    display: block;
    padding: .5rem 1rem;
}

.dropdown-menu{
    background-color: rgba(52, 58, 64, .8);
    border:none;
}

.card img{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    vertical-align: middle;
    border-style: none;
}

.card h4{
    text-align: center;
    padding: .8rem;
}

.card p{
    padding: .8rem;
}

.card .textwidget .card-footer{
    text-align: center;
    padding: .8rem;
}

.card .textwidget .card-footer a{
    width: 100%;
}

footer{
    margin-top:20px;
}